<h2>Angular Material</h2>
<a mat-stroked-button color="primary" mat-button
    href="https://parzibyte.me/blog">By Parzibyte</a>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Tu nombre</mat-label>
        <input matInput placeholder="Escribe tu nombre">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Tu correo</mat-label>
        <input matInput placeholder="Escribe tu correo electrónico">
    </mat-form-field>
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias harum
    animi earum, repellendus, cumque, facere quo doloribus fuga sed sint aut ex
    magni. Dignissimos corrupti odio corporis tenetur quia incidunt. </p>
<button mat-raised-button color="accent" mat-button>Enviar</button>
<p>